body {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('https://images.unsplash.com/photo-1526392587392-d1627b6c134a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z3JlZW4lMjBncmFzc3xlbnwwfHwwfHw%3D&w=1000&q=80');
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
}

#message-el {
    font-style: italic;
}

h1 {
    color: goldenrod;
}

button {
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 4px;
}